<head>
    <title>{{ site.data.settings.title }}</title>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Main  -->
    <link href="/assets/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
    <link href="/assets/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">

    <!-- iOS  -->
    <link href="/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Android  -->
    <link href="/assets/images/android-chrome-192x192.png" rel="icon" sizes="192x192">
    <link href="/assets/images/android-chrome-512x512.png" rel="icon" sizes="512x512">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700"
          rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
